<h1>SharePoint Sites Files</h1>
<a href="/">Go back</a>
<br>
<br>
<table>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{@key}}</td>
      <td>{{this}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>